- @page_title = "Download"
%h1 Download
%p The current version of Haml User Tags is #{HamlUserTags::VERSION}.
%h2 Using Bundler
%p
  Most people will just want to add the <code>haml_user_tags</code> gem to
  their <code>Gemfile</code>.
%pre
  gem 'haml_user_tags'
%h2 Downloading from Github
%p
  You can find the source code for Haml User Tags on
  <a href="https://github.com/CGamesPlay/haml_user_tags">Github</a>.
